<div class="container p-4">
    <div class="row justify-content-md-center align-items-center">
        <div class="col col-md-4 mx-center">
            <div class="card shadow text-center">
                <div class="card-header mt-2">
                    <span class="h4">Profile</span>
                </div>
                <div class="card-body">
                    <h3>Welcome {{user.name}}</h3>
                    <hr>
                    <p>Full name: <span class="text-muted">{{user.name}} {{user.lastname}}</span></p>
                    <p>Email: <span class="text-muted">{{user.email}}</span></p>
                    <p>Family code: <span class="text-success">{{user.familycode}}</span></p>
                    <hr>
                    <a href="/taks" class="btn btn-dark btn-block">
                        Save your tasks
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>